ncdc.training.server/.settings/org.eclipse.m2e.core.prefs
ncdc.training.server/.settings/org.eclipse.jdt.core.prefs
ncdc.training.server/.settings/org.eclipse.core.resources.prefs
ncdc.training.client/.settings/org.eclipse.m2e.core.prefs
ncdc.training.client/.settings/org.eclipse.jdt.core.prefs
ncdc.training.client/.settings/org.eclipse.core.resources.prefs
