<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add book</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <link href="webjars/bootstrap/4.0.0-alpha/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
</head>
<body>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="webjars/bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>
	<div class="main">
		<h1>New book</h1>
	    <form action="#" th:action="@{/add}" th:object="${book}" method="post">
             <table>
              <tr>
	              <td>Title:</td>
	              <td><input type="text" th:field="*{title}" /></td>
	              <td th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></td>
              </tr>
              <tr>
	              <td>Author:</td>
	              <td><input type="text" th:field="*{author}" /></td>
	              <td th:if="${#fields.hasErrors('author')}" th:errors="*{author}"></td>
              </tr>
              <tr>
              	<td>ISBN:</td>
              	<td><input type="text" th:field="*{isbn}" th:errorclass="error"/></td>
              	<td th:if="${#fields.hasErrors('isbn')}" th:errors="*{isbn}"></td>
              </tr>
              <tr>
              	<td><input type="submit" class="btn btn-success" value="Save"/></td>
              </tr>
             </table>
	    </form>
    </div>
</body>
</html>