<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Books list</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
</head>
<body>
	<h1 th:text="'BOOKS LIST'"></h1>
	<a href="/add">Add new</a>
    <div th:if="${isEmpty} == true">
    	<p th:text="'There is no books'" />
    </div>
      <table>
      <tr>
        <th>TITLE</th>
        <th>AUTHOR</th>
        <th>ISBN</th>
      </tr>
      <tr th:each="book : ${books}">
        <td th:text="${book.title}"></td>
        <td th:text="${book.author}"></td>
        <td th:text="${book.isbn}"></td>
      </tr>
    </table>
</body>
</html>